extends layout

block content
  h1 Calculadora de IGC
  form(action='/igc/calculate' method='post')
    label(for='weight') Peso (kg):
    input(type='number' name='weight' required)
    br
    label(for='height') Altura (cm):
    input(type='number' name='height' required)
    br
    label(for='waist') Cintura (cm):
    input(type='number' name='waist' required)
    br
    label(for='hip') Cadera (cm):
    input(type='number' name='hip' required)
    br
    label(for='neck') Cuello (cm):
    input(type='number' name='neck' required)
    br
    label(for='gender') Género:
    select(name='gender' required)
      option(value='male') Hombre
      option(value='female') Mujer
    br
    label(for='age') Edad:
    input(type='number' name='age' required)
    br
    button(type='submit') Calcular IGC
  #result
    if error
      p.error #{error}

  canvas#igcChart(width='600' height='200')
  script(src='https://cdn.jsdelivr.net/npm/chart.js')
  script(src='https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation')
  script(src='/js/igcChart.js')
