extends layout

block content
  h1 Calculadora de IMC
  form(id='bmiForm')
    label(for='weight') Peso (kg):
    input(type='number' name='weight' required)
    br
    label(for='height') Altura (cm):
    input(type='number' name='height' required)
    br
    button(type='submit') Calcular IMC
  #result
  canvas#bmiChart(width='600' height='200') // Ajusta el tamaño del canvas aquí

  script(src='https://cdn.jsdelivr.net/npm/chart.js')
  script.
    document.querySelector('#bmiForm').addEventListener('submit', async function(event) {
      event.preventDefault();
      const weight = document.querySelector('input[name="weight"]').value;
      const height = document.querySelector('input[name="height"]').value;
      const response = await fetch('/calculate', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ weight, height })
      });
      const result = await response.json();
      console.log('Calculate Result:', result); // Log de los resultados del cálculo
      document.querySelector('#result').innerHTML = `
        <p>Tu IMC es ${result.bmi}</p>
        <p>Estás en la categoría: ${result.category}</p>
        <p>Recomendaciones: ${result.recommendations}</p>
      `;

      const ctx = document.getElementById('bmiChart').getContext('2d');
      new Chart(ctx, {
        type: 'scatter',
        data: {
          labels: ['Bajo peso', 'Peso normal', 'Sobrepeso', 'Obesidad'],
          datasets: [
            {
              label: 'Rango de IMC',
              data: [
                { x: 18.5, y: 0 },
                { x: 25, y: 0 },
                { x: 30, y: 0 }
              ],
              backgroundColor: 'rgba(0, 0, 0, 0)',
              borderColor: 'rgba(0, 0, 0, 1)',
              borderWidth: 1,
              pointRadius: 0,
              fill: false,
              showLine: true
            },
            {
              label: 'Tu IMC',
              data: [{ x: result.bmi, y: 0 }],
              backgroundColor: 'rgba(255, 99, 132, 1)',
              borderColor: 'rgba(255, 99, 132, 1)',
              borderWidth: 1,
              pointRadius: 10,
              pointBackgroundColor: 'rgba(255, 99, 132, 1)',
              fill: false
            }
          ]
        },
        options: {
          responsive: true,
          maintainAspectRatio: true,
          scales: {
            x: {
              type: 'linear',
              position: 'bottom',
              min: 18.5,
              max: 30,
              title: {
                display: true,
                text: 'IMC'
              }
            },
            y: {
              display: false
            }
          }
        }
      });
    });
