extends layout

block content
  .info-container
    .info-block
      h1 Información Adicional del IGC
      h2 ¿Que es el Indice de Grasa Corporal(IGC)?
      p El Índice de Grasa Corporal (IGC) es una medida que indica el porcentaje del cuerpo de una persona que está compuesto por grasa. Es una herramienta utilizada para evaluar la composición corporal y puede ayudar a identificar si una persona tiene un porcentaje de grasa corporal saludable.
      h2 ¿Como se calcula?
      p El cálculo del IGC puede variar dependiendo del método utilizado. Uno de los métodos comunes es utilizando la fórmula de la Marina de los Estados Unidos, que requiere medidas de la cintura, el cuello y la altura. Otra forma es mediante el uso de dispositivos de bioimpedancia eléctrica.
      h2 Importancia
      p Conocer el IGC es importante porque el exceso de grasa corporal se ha asociado con varios problemas de salud, incluyendo enfermedades cardiovasculares, diabetes tipo 2, y ciertos tipos de cáncer. Mantener un porcentaje de grasa corporal en un rango saludable es crucial para la salud general y el bienestar.
      h2 Tipos de rangos:
      p Mujeres: 21-33% (edad 20-39), 23-35% (edad 40-59), 24-36% (edad 60-79)
      p Hombres: 8-19% (edad 20-39), 11-21% (edad 40-59), 13-24% (edad 60-79)
    .info-block
      h1 Información Adicional del IMC
      h2 ¿Que es el Indice de Masa Corporal?
      p El Índice de Masa Corporal (IMC) es un número que se calcula utilizando el peso y la estatura de una persona. Es una medida simple que se utiliza para clasificar a las personas en categorías de peso que pueden ayudar a identificar posibles problemas de salud.
      h2 ¿Como se calcula?
      p El IMC se calcula utilizando la siguiente fórmula: peso(kg)/ alruta (m)²
      h2 Importancia 
      p El IMC es una herramienta útil para identificar si una persona tiene un peso saludable en relación con su altura. Se utiliza comúnmente en entornos clínicos para evaluar el riesgo de desarrollar enfermedades relacionadas con el peso, como enfermedades cardíacas, hipertensión y diabetes.
      h2 Clasificación
      ul
        li Bajo peso: IMC menor de 18.5
        li Peso normal: IMC entre 18.5 y 24.9
        li Sobrepeso: IMC entre 25 y 29.9
        li Obesidad: IMC de 30 o mayor
