doctype html
html
  head
    title Calculadora de IMC
    link(rel='stylesheet', href='/css/styles.css')
    script(src='/js/main.js')
  body
    header
      nav
        ul
          li
            a(href='/') Calculadora
          if !user
            li
              a(href='/login') Iniciar Sesión
            li
              a(href='/register') Registrarse
          else
            li
              a(href='/logout') Cerrar Sesión
    block content
