doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=0.7")
    link(rel='stylesheet', href='/css/style.css')
  body
    if user
      nav
        ul
          if currentUrl !== '/'
            li: a(href='/') Calcular IMC
          if currentUrl !== '/igc'
            li: a(href='/igc') Calcular IGC
          if currentUrl !== '/info'
            li: a(href='/info') M치s Informaci칩n
          if currentUrl !== '/datos'
            li: a(href='/datos') Mis Datos
          li: a(href='/logout') Cerrar Sesi칩n
    else
      nav
        ul
          if currentUrl !== '/login'
            li: a(href='/login') Iniciar Sesi칩n
          if currentUrl !== '/register'
            li: a(href='/register') Registrarse
    block content
