doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    if user
      nav
        ul
          li: a(href='/') Inicio
          li: a(href='/igc') Calcular IGC
          li: a(href='/info') M치s Informaci칩n
          li: a(href='/logout') Cerrar Sesi칩n
    else
      nav
        ul
          li: a(href='/login') Iniciar Sesi칩n
          li: a(href='/register') Registrarse
    block content
