doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if user
      nav
        ul
          li: a(href='/') Home
          li: a(href='/igc') Calcular IGC
          li: a(href='/logout') Logout
          li: a(href='/info') Más Informacion
    else
      nav
        ul
          li: a(href='/login') Iniciar Sesión
          li: a(href='/register') Registrarse
    block content
