extends layout

block content
  .result-container
    h1 Resultados de IMC
    .result-details
      p Tu IMC es 
      span.result-value #{result.bmi}
      p Estás en la categoría: 
      span.result-category #{result.category}
      p Recomendaciones: 
      span.result-recommendations #{result.recommendations}
    a.button(href='/imc') Calcular de nuevo